<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inQuest | To Do Manager</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <%- include('partials/header')%>
    <div class="container">
        <div class="content">
            <h1>Listas de Tarefas</h1>
            <ul class="taskLists">
                <% lists.forEach(list => {%>
                <li>
                    <span class="taskList">
                        <a href="/app/<%= list.id%>" class="taskList-title">
                            <h6><%= list.title%></h6>
                        </a>
                        <form id="delete-form" action="/app/<%= list.id %>/delete" method="post">
                            <button type="submit" class="btn-delete">Excluir</button>
                        </form>
                    </span>
                </li>
                <%})%>
            </ul>
            <button type="submit" class="btn-newTaskList"><a href="/app/newList">Nova Lista de Tarefas</a></button>
        </div>
        
    </div>
    <%- include('partials/footer')%>
</body>
</html>